:root {
  --blue-color: #5d68fd;
  --green-color: #34e710;
  --light-blue-color: #b6c7ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: 'Righteous', cursive;
}

/*  ------------------------ UTILITY CLASSES ------------- */

.btn {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-color);
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.03);
}
.white-icon {
  color: #fff;
}

.large-btn {
  width: 300px;
}

.github {
  font-size: 1.5rem;
  transition: all 0.4s ease-in;
}

.github:hover {
  transform: rotate(360deg);
}

.error {
  font-size: 0.8rem;
  text-align: center;
  color: #f82121;
  transform: scale(0);
  transition: all 0.5s ease;
}

/* ------------------------- INTRO STYLES ------------------- */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
}

.intro h1 {
  font-size: 5rem;
  color: var(--blue-color);
  text-shadow: 5px 5px 2px black;
  letter-spacing: 5px;
}

/* ------------------------- GAME MODE STYLES ------------------- */

.choose-game {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 2;
  display: none;
}

.game-mode {
  display: flex;
  align-items: center;
  gap: 20px;
}

.two-players form,
.ai-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two-players,
.ai-form {
  display: none;
}

form input[type='text'] {
  font-size: 1.2rem;
  outline: none;
  border-radius: 15px;
  border: 0;
  padding: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

/* ------------------------- GAME AND BOARD STYLES ------------------- */

.game {
  width: 70vw;
  height: 100vh;
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 0;
  margin: 0 auto;
  display: none;
  animation-name: showUp;
  animation-duration: 1s;
}

@keyframes showUp {
  0% {
    transform: scale(0) rotate(0);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.game h1 {
  font-size: 3rem;
  color: var(--blue-color);
  text-shadow: 5px 5px 2px black;
  letter-spacing: 3px;
}

.players-announcements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}

.player1-name,
.player2-or-ai-name {
  border-bottom: 1px dashed #000;
}

.first-player,
.second-player-or-ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.messages {
  display: grid;
  align-items: center;
  color: var(--blue-color);
  height: 30px;
  font-size: 1.3rem;
}

.cells {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.cell:hover {
  cursor: pointer;
  background: var(--light-blue-color);
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-bottom: 10px solid #000;
}

.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-left: 10px solid #000;
}

.game-actions {
  display: none;
  width: 400px;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  animation-name: popUp;
  animation-duration: 1s;
}

.show {
  display: flex;
  animation-name: popUp;
  animation-duration: 1s;
}

@keyframes popUp {
  0% {
    transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* ------------------------- MEDIA QUERY STYLES ------------------- */

@media (max-width: 500px) {
  .intro h1 {
    font-size: 3.5rem;
  }
  .game-mode {
    flex-direction: column;
  }
  .game {
    width: 100vw;
  }
}
